{% extends "base.html" %}
{% load static from staticfiles %}
{% load gravatar %}
{% block content %}
    <div class="container" id="content" align="center">
    <hr>
    <hr>
    {% for post in posts %}
        <div class="row" id="results" align="center">


            <div class="col-md-2 col-sm-2">
                <a class="story-img" href="#">
                    <img src="{% gravatar_url post.author.email 150 %}"
                         style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;"
                         class="img-circle">
                </a>

            </div>
            <div class="col-md-10 col-sm-10" align="center">

                <h3>{{ post.title }}</h3>
                <div class="row" id="results">

                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p>{{ post.published_date }}</p>
                        <p>Views <span class="badge">{{ post.views }}</span></p>
                        <p><strong> Tag</strong> {{ post.tag }}</p>
                        <button class="btn btn-default" onclick="location.href={{ post.id }}">Read More</button>
                        <button class="btn btn-default" onclick="location.href='{% url 'new_post' %}'">New Post</button>

                </div>
            </div>


        </div>
        <hr>
    {% endfor %}
{% endblock %}
</div>