{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <form method="GET" action="{% url 'head_to_head' %}">
            <div class="col-lg-12" align="center"><h1>Welcome to scrum cap </h1>
                <h2>Where teams really go head to head</h2>
                <h2>Choose your teams!</h2></div>


            <div class="col-md-5" id="team1" align="center">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputOne" name="teamOne"
                           placeholder="Enter your first team here">
                </div>
            </div>
            <div class="col-md-2" align="center">
                 <input type="image" src="{% static 'images/vs.png' %}" height="60px" width="60px" alt="Submit Teams"/>
            </div>
            <div class="col-md-5" id="team1" align="center">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputOne" name="teamTwo"
                           placeholder="Enter your first team here">
                </div>
            </div>




        </form>
    </div>



{% endblock %}