{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <form method="GET" action="{% url 'head_to_head' %}">
            <div class="col-lg-12" align="center"><h1>Welcome to scrum cap </h1>
                <h2>Where teams really go head to head</h2>
                <h2>Choose your teams!</h2></div>


            <div class="col-md-5" id="team1" align="center">
                <div class="form-group ui-widget">
                    <input type="text" class="form-control" id="inputOne" name="teamOne"
                           placeholder="Enter your first team here">
                </div>
            </div>

            <div class="col-md-2" align="center"><input type="image" src="{% static 'images/vs.png' %}" height="60px"
                                                        width="60px" alt="Submit Teams"/></div>

            <div class="col-md-5" id="team1" align="center">
                <div class="form-group ui-widget">
                    <input type="text" class="form-control" id="inputTwo" name="teamTwo"
                           placeholder="Enter your Second team here">
                </div>
            </div>


        </form>
    </div>



    {% if teamOne %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6" align="center"><img id="team-1-img" src="{{ STATIC_URL }}{{ teamOne.image.url }}"
                                                      height="25%"
                                                      width="50%"></div>


            <div class="col-xs-6 col-sm-6 col-md-6" align="center"><img id="team-2-img" src="{{ STATIC_URL }}{{ teamTwo.image.url }}"
                                                      height="25%"
                                                      width="50%">
            </div>
        </div>

        <div class="container" id="content">


        <h3 align=center>OverAll</h3>





        <table class="table " id="results" align="center">
            <thead>
            <tr>
                <th>Played</th>
                <th>Won by <img src="{{ STATIC_URL }}{{ teamOne.image.url }}" height="40px"
                                width="15%"></th>
                <th>won by <img
                        src="{{ STATIC_URL }}{{ teamTwo.image.url }}"
                        height="40px"
                        width="15%"></th>
                <th>Drawn</th>
                <th>{{ teamOne.Name }} points</th>
                <th>{{ teamTwo.Name }} points</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h3 align=center>Recent Games</h3>





        <table class="table" id="results" align="center">
            <thead>
            <tr>
                <th>Date</th>
                <th>Home</th>
                <th align="center">Score</th>
                <th>Away</th>
                <th>Competition</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.host }}</td>
                    <td><img src="{{ STATIC_URL }}{{ teamOne.image.url }}"
                             height="40px"
                             width="15%">{{ game.scoreA }} - {{ game.scoreB }}<img
                            src="{{ STATIC_URL }}{{ teamTwo.image.url }}"
                            height="40px"
                            width="15%"></td>
                    <td>{{ game.teamB }}</td>
                    <td>{{ game.competition }}</td>
                </tr>
            {% endfor %}
            {% for game in games2 %}
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.host }}</td>
                    <td><img src="{{ STATIC_URL }}{{ teamTwo.image.url }}"
                             height="40px"
                             width="15%">{{ game.scoreA }} - {{ game.scoreB }}<img
                            src="{{ STATIC_URL }}{{ teamOne.image.url }}"
                            height="40px"
                            width="15%"></td>
                    <td>{{ game.teamB }}</td>
                    <td>{{ game.competition }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>